<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31488984189-2064c4neudokvc8isnach39agf86ge3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31488984189-2064c4neudokvc8isnach39agf86ge3m</string>
	<key>API_KEY</key>
	<string>AIzaSyAEbnINvKZ2wwszEVnODhHVLF2zriNtUjg</string>
	<key>GCM_SENDER_ID</key>
	<string>31488984189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dongkyu.GitHubUserSearchMVC</string>
	<key>PROJECT_ID</key>
	<string>githubexample-ea656</string>
	<key>STORAGE_BUCKET</key>
	<string>githubexample-ea656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31488984189:ios:3ebccc4fce953c19</string>
	<key>DATABASE_URL</key>
	<string>https://githubexample-ea656.firebaseio.com</string>
</dict>
</plist>